altgraph==0.10.2
bdist-mpkg==0.5.0
click==6.7
Flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
macholib==1.5.1
markovify==0.6.0
py2app==0.7.3

pyparsing==2.0.1
python-dateutil==1.5
pytz==2013.7

six==1.4.1
Unidecode==0.4.21
virtualenv==15.1.0
Werkzeug==0.12.2
